##### npm and Bower #####
bower_components/**
node_modules/**


##### Libraries #####
src/scripts/lib/**


##### Builds #####
build/**


##### Binaries #####
src/media/**


##### Personal #####
notes/**

*.bat
*.lnk
*.sh


##### Temporary #####
log/**
logs/**
temp/**
tmp/**

.DS_Store
Thumbs.db
*.log
*.temp
*.tmp
