# npm and Bower
bower_components/**
node_modules/**

# Libraries
src/lib/phaser/**

# Builds
build/**

# Binaries
media/**

# Personal
notes/**
*.lnk

# Temporary
.DS_Store
Thumbs.db
*.log
*.temp
*.tmp
